spring:
  datasource:
    url: jdbc:sqlite:./data/recommendations.db
    driver-class-name: org.sqlite.JDBC
  jpa:
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLiteDialect
    hibernate:
      ddl-auto: none
  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    root: INFO
